<div>
  <div class="modal__header__container">
    <h1>Add Member</h1>
    <button mat-icon-button color="primary" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="illustration__container">
    <img
      src="assets/images/add-member-male-illustration.svg"
      alt="Add member illustration"
      loading="lazy"
    />
  </div>
  <div>
    <form (submit)="onSubmit($event)">
      <div>
        <p class="form__header">Details</p>
        <div class="form__flex__container">
          <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input id="fname" matInput placeholder="John" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Middle Name</mat-label>
            <input id="mname" matInput />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input id="lname" matInput placeholder="Doe" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <p class="form__header">Contact</p>
        <div class="form__flex__container">
          <mat-form-field class="example-full-width">
            <mat-label>Contact #</mat-label>
            <input id="mobile" matInput placeholder="09xxxxxxxxx" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input id="email" type="email" matInput placeholder="johndoe@email.com" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <p class="form__header">Address</p>
        <div class="form__flex__container">
          <mat-form-field class="example-full-width">
            <mat-label>House Number</mat-label>
            <input id="houseno" matInput />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Street Name</mat-label>
            <input id="street" matInput />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Barangay</mat-label>
            <input id="barangay" matInput />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input id="city" matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="modal__btn">
        <button type="submit" mat-flat-button color="primary">Add Member</button>
        <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
      </div>
    </form>
  </div>
</div>
