.example-full-width {
  width: 100%;
  font-family: "General Sans", sans-serif;
}
.modal__btn {
  display: flex;
  justify-content: end;
  gap: 8px;
  button {
    font-family: "General Sans", sans-serif;
  }
}
.illustration__container {
  display: none;
}
.form__header {
  font-weight: 600;
  font-size: 24px;
  color: #001e1d;
}
h1 {
  color: #001e1d;
}
@media screen and (min-width: 768px) {
  .form__flex__container {
    display: flex;
    gap: 1rem;
  }
  .illustration__container {
    display: block;
    text-align: center;
    img {
      max-width: 70%;
    }
  }
}
