<div>
  <div class="modal__header__container">
    <h1>Add Transaction</h1>
    <button mat-icon-button color="primary" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="illustration__container">
    <img
      src="assets/images/add-transaction-illustration.svg"
      alt="Add transaction illustration"
      loading="lazy"
    />
  </div>
  <div>
    <form [formGroup]="form">
      <div>
        <p class="form__header">Type</p>
        <mat-radio-group
          aria-label="Choose membership type"
          color="primary"
          formControlName="radio"
        >
          <mat-radio-button [value]="1">Walk In</mat-radio-button>
          <mat-radio-button [value]="2">Member</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
    <div class="form__member" *ngIf="form.value.radio == 2">
      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Number</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="memberAutoComplete"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let member of members">
            {{ member.member_fname }} {{ member.member_mname }}
            {{ member.member_lname }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->
      <form (submit)="onSubmit($event)">
        <mat-form-field class="example-full-width">
          <mat-label>Search for a member</mat-label>
          <input
            id="name"
            [formControl]="memberAutoComplete"
            [matAutocomplete]="auto"
            matInput
            placeholder="Juan Dela Cruz"
            [(ngModel)]="filterTerm"
          />
          <button matSuffix mat-icon-button aria-label="Search">
            <mat-icon>search</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let member of members | filter : filterTerm"
              value="{{ member.member_lname }}, {{ member.member_fname }} {{
                member.member_mname
              }}"
            >
              {{ member.member_fname }} {{ member.member_mname }}
              {{ member.member_lname }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="modal__btn">
          <button type="submit" mat-flat-button color="primary">
            Finish Transaction
          </button>
          <button mat-stroked-button color="primary" mat-dialog-close>
            Cancel
          </button>
        </div>
      </form>
    </div>
    <div
      class="form__walkin"
      *ngIf="form.value.radio == 1"
      [formGroup]="walkInForm"
    >
      <form (submit)="onSubmit($event)" [formGroup]="walkInForm">
        <p class="form__header">Details</p>
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input
            id="fname"
            formControlName="firstName"
            matInput
            placeholder="Juan"
          />
          <mat-error *ngIf="submitted && f['firstName'].errors">
            <p *ngIf="f['firstName'].errors['required']">
              First name is <strong>required</strong>
            </p>
            <p *ngIf="f['firstName'].errors['minlength']">
              First name must be at least 2 characters.
            </p>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Middle Name</mat-label>
          <input id="mname" matInput />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input
            id="lname"
            formControlName="lastName"
            matInput
            placeholder="Dela Cruz"
          />
          <mat-error *ngIf="submitted && f['lastName'].errors">
            <p *ngIf="f['lastName'].errors['required']">
              Last name is <strong>required</strong>
            </p>
            <p *ngIf="f['lastName'].errors['minlength']">
              Last name must be at least 2 characters.
            </p>
          </mat-error>
        </mat-form-field>
        <div class="modal__btn">
          <button type="submit" mat-flat-button color="primary">
            Finish Transaction
          </button>
          <button mat-stroked-button color="primary" mat-dialog-close>
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
