<div class="register__grid__container">
    <div class="register__illustration__container"></div>
    <div class="register__form">
        <div>
            <img class="register__templogo" src="assets/images/temp_logo.png" alt="">
            <h1>Sign up</h1>
            <p>... and start your fitness journey with us right now 💪</p>
        </div>
        <form action="">
            <div class="mt-5">
                <div class="row">
                    <h3 class="mb-2">Details</h3>
                    <div class="col-12 col-md-4">
                        <p class="mb-2">First Name</p>
                        <input type="text" class="form-control" placeholder="Jane">
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="mb-2 mt-2 mt-md-0">Middle Name</p>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="mb-2 mt-2 mt-md-0">Last Name</p>
                        <input type="text" class="form-control" placeholder="Doe">
                    </div>
                </div>
                <div class="row mt-3">
                    <h3 class="mb-2">Contact</h3>
                    <div class="col-12 col-md-6">
                        <p class="mb-2 mt-2 mt-md-0">Phone Number</p>
                        <input type="text" class="form-control" placeholder="09xxxxxxxxx">
                    </div>
                    <div class="col-12 col-md-6"> 
                        <p class="mb-2 mt-2 mt-md-0">Email Address</p>
                        <input type="email" class="form-control" placeholder="email@address.com">
                    </div>
                </div>
                <div class="row mt-3">
                    <h3 class="mb-2">Address</h3>
                    <div class="col-12 col-md-6">
                        <p class="mb-2 mt-2 mt-md-0">Home Number</p>
                        <input type="email" class="form-control">
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="mb-2 mt-2 mt-md-0">Street Name</p>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="mb-2 mt-2">Barangay</p>
                        <select class="form-select">
                            <option disabled selected value="Barangay">Choose Barangay</option>
                            <option value="Asinan">Asinan</option>
                            <option value="Banicain">Banicain</option>
                            <option value="Barretto">Barretto</option>
                            <option value="East Bajac-Bajac">East Bajac-Bajac</option>
                            <option value="East Tapinac">East Tapinac</option>
                            <option value="Gordon Heights">Gordon Heights</option>
                            <option value="Kalaklan">Kalaklan</option>
                            <option value="Mabayuan">Mabayuan</option>
                            <option value="New CabalanN">New Cabalan</option>
                            <option value="New Ilalim">New Ilalim</option>
                            <option value="New Kababae">New Kababae</option>
                            <option value="Old Cabalan">Old Cabalan</option>
                            <option value="Pag-asa">Pag-asa</option>
                            <option value="Santa Rita">Santa Rita</option>
                            <option value="West Bajac-Bajac">West Bajac-Bajac</option>
                            <option value="West Tapinac">West Tapinac</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="mb-2 mt-2">City</p>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </form>
        <button>
            Register
        </button>
    </div>
</div>