<nav class="navbar navbar-expand-lg p-4">
    <div class="container">
        <h1 class="navbar-brand">Welcome, Admin!</h1>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a routerLink="/members" class="nav-item nav-link">Members</a>
                <a routerLink="/transactions" class="nav-item nav-link">Transactions</a>
                <a href="#" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </div>
</nav>