<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    [mode]="isBiggerScreen() ? 'over' : 'side'"
    [(opened)]="opened"
    [fixedInViewport]="true"
  >
    <div class="sidenav__logo">
      <img src="assets/images/deesgym_logo.png" alt="Brand logo" />
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/members">
        <mat-icon class="sidenav__icon">groups</mat-icon>
        Members
      </a>
      <a mat-list-item class="isActive" routerLink="/transactions">
        <mat-icon class="sidenav__icon">hourglass_empty</mat-icon>
        Transactions
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- End -->
  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar__heading">Welcome, Admin</span>
      <span class="example-spacer"></span>
      <button (click)="logout()" mat-icon-button color="primary">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <!-- End -->
    <!-- Content under Toolbar -->
    <body>
      <main>
        <!-- Header and Image Container -->
        <section>
          <div class="section__greetings">
            <div>
              <div class="greetings__flex__container">
                <h1>Transactions</h1>
                <button
                  mat-fab
                  color="primary"
                  (click)="openAddTransactionDialog()"
                >
                  <mat-icon>hourglass_full</mat-icon>
                </button>
              </div>
              <p>
                Monitor Your Member Engagement: Easily Record Walk-In Gymgoers,
                Search for Registered Members, and time them in, our out.
              </p>
            </div>
            <div class="illustration__container">
              <img
                src="assets/images/transactions-table-illustration.svg"
                alt="People in the gym"
                width="300px"
              />
            </div>
          </div>
        </section>
        <!-- End -->
        <!-- Desktop FAB Container -->
        <div class="desktop__fab">
          <button
            mat-fab
            color="primary"
            (click)="openAddTransactionDialog()"
            matTooltip="Make a Transaction"
            matTooltipPosition="above"
          >
            <mat-icon>hourglass_full</mat-icon>
          </button>
          <button
            mat-fab
            color="primary"
            matTooltip="Export to CSV"
            matTooltipPosition="above"
            class="add__search__excel__btn"
          >
            <img
              src="assets/images/excel.png"
              alt="Excel logo"
              loading="lazy"
              class="add__search__excel__img"
            />
          </button>
        </div>
        <!-- End -->
        <!-- Table Container -->
        <section class="table__container">
          <!-- Actual Transactions Table -->
          <div>
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.trans_id }}
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.trans_name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.trans_type }}
                </td>
              </ng-container>
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.trans_date | date : "mediumDate" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="timein">
                <th mat-header-cell *matHeaderCellDef>Time In</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.trans_timein }}
                </td>
              </ng-container>
              <ng-container matColumnDef="timeout">
                <th mat-header-cell *matHeaderCellDef>Time Out</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.trans_timeout }}
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.trans_timeout == null">
                    <button
                      mat-icon-button
                      class="btn--secondary"
                      matTooltip="Time Out"
                      matTooltipPosition="above"
                      (click)="timeOut(element.trans_id)"
                    >
                      <mat-icon>hourglass_bottom</mat-icon>
                    </button>
                  </div>
                  <div *ngIf="element.trans_timeout != null">
                    <button
                      disabled
                      mat-icon-button
                      class="btn--secondary"
                      matTooltip="Time Out"
                      matTooltipPosition="above"
                    >
                      <mat-icon>hourglass_bottom</mat-icon>
                    </button>
                  </div>
                  <!-- <button
                    mat-icon-button
                    class="btn--primary"
                    matTooltip="Time In"
                    matTooltipPosition="above"
                  >
                    <mat-icon>hourglass_top</mat-icon>
                  </button> -->
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
          </div>
        </section>
      </main>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>
