<div class="timein__container">
    <div class="timein__card">
        <div>
            <div class="timein__started" *ngIf="timeIn != null">
                <i class="fa-solid fa-hourglass-start"></i><p>Started: {{ timeIn | date:'h:mm a' }}</p>
            </div>
        </div>
        <div class="text-center">
            <img src="assets/images/time-in-illustration.png" alt="Time in illustration">
        </div>
        <div>
            <h1>Welcome, Ralph Martin Flores</h1>
            <p>Start your workout for today by clicking on the button below.</p>
            <button (click)="TimeIn()" class="rounded-pill">Time In</button>
        </div>
    </div>
</div>