<div class="login__grid__container">
    <div class="login__form">
        <div>
            <div>
                <img class="login__templogo" src="assets/images/temp_logo.png" alt="">
                <h1>Sign in</h1>
                <p>... and start your fitness journey with us right now 💪</p>
            </div>
            <form action="">
                <div class="mt-5">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="mb-2">Username</p>
                            <input type="text" class="form-control rounded-pill">
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="mb-2 mt-2 mt-md-0">Password</p>
                            <input type="text" class="form-control rounded-pill">
                        </div>
                    </div>
                </div>
            </form>
            <button class="rounded-pill">Log in</button>
        </div>
    </div>
    <div class="login__illustration__container"></div>
</div>