body {
  background-color: #004643;
}
h1 {
  color: #001e1d;
  font-size: 48px;
  margin-top: 0;
  font-family: var(--ff-primary);
}
p {
  color: #0f3433;
  font-size: 16px;
  font-family: var(--ff-secondary);
}
.card__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e8e4e6;
  padding: 24px;
  border-radius: 16px;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.illustration__container {
  padding: 0 16px;
}
.form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  background-image: url("../../../assets/images/Colored Patterns.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.example-full-width,
mat-checkbox {
  font-family: var(--ff-secondary);
}
.mat-flat-button {
  padding: 4px 32px;
  font-size: 16px;
  align-self: flex-end;
  border-radius: 100px;
  transition: all 0.3s;
  font-family: var(--ff-primary);
  font-weight: bold;
  letter-spacing: 1px;
  &:hover {
    background-color: #007974;
  }
}
.illustration__container {
  background-image: url("../../../assets/images/register_illustration.webp");
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
}
@media screen and (min-width: 1025px) {
  .mat-flat-button {
    width: fit-content;
  }
  .card__container {
    max-width: 350px;
  }
}
