<div>
  <div class="modal__header__container">
    <h1>Edit Member</h1>
    <button mat-icon-button color="primary" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="illustration__container">
    <img
      src="assets/images/edit-member-male-illustration.svg"
      alt="Edit member illustration"
      loading="lazy"
    />
  </div>
  <div>
    <form (submit)="onSubmit($event)">
      <div>
        <p class="form__header">Details</p>
        <input hidden id="id" [value]="member.member_id" disabled/>
        <div class="form__flex__container">
          <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input id="fname" [value]="member.member_fname" matInput placeholder="John" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Middle Name</mat-label>
            <input id="mname" [value]="member.member_mname" matInput />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input id="lname" [value]="member.member_lname" matInput placeholder="Doe" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <p class="form__header">Contact</p>
        <div class="form__flex__container">
          <mat-form-field class="example-full-width">
            <mat-label>Contact #</mat-label>
            <input id="mobile" [value]="member.member_mobilenum" matInput placeholder="09xxxxxxxxx" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input id="email" [value]="member.member_email" type="email" matInput placeholder="johndoe@email.com" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <p class="form__header">Address</p>
        <div class="form__flex__container">
          <mat-form-field class="example-full-width">
            <mat-label>House Number</mat-label>
            <input id="houseno" [value]="member.member_houseno" matInput />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Street Name</mat-label>
            <input id="street" [value]="member.member_street" matInput />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Barangay</mat-label>
            <input id="barangay" [value]="member.member_barangay" matInput />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input id="city" [value]="member.member_city" matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="modal__btn">
        <button type="submit" mat-flat-button color="primary">Save Changes</button>
        <button mat-stroked-button color="primary" mat-dialog-close="">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
